* {
    margin: 0;
    padding: 0;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Zen Tokyo Zoo', cursive;
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}